/* write your override styles here */

#wall .tag-1 {
  display: none;
}

#wall .tag-1 + #tag-2 {
  background: none;
}
#wall #tag-3.slick.wicked {
  background: none;
}
#wall .parent #tag-4 {
  background: none;
}
#wall .parent + .parent #tag-5.slick {
  background: none;
}
div#wall div.parent + div.parent div:last-child div#tag-6 {
  background: none;
}

body div#wall div.parent + div.parent div > #tag-7.slick {
  background: none;
}
